<ion-view class="welcome-bg">
    <ion-nav-bar ng-cloak class="bar-transparent"></ion-nav-bar>
    <ion-content class="center-content" layout-padding>
        <section layout="column" layout-align="center center" layout-fill>
            
            <div layout="column">
                <div>
                  <img src="core/assets/images/logoKPM2.png" alt="" class="img-responsive">  
                </div>
            </div>
            <div layout="row" class="welcome-buttons">
                <md-button flex class="button-login" md-ripple-size="full" ui-sref="home.semakan">MASUK</md-button>
               
            </div>
        </section>
    </ion-content>
</ion-view>
