.account-form-wrapper {
    width: 80%;
    max-width: 80%;
    .button-account {
        background: $purple-theme;
        color: #fff;
        border-radius: 25px;
        min-height: 42px;
    }
    .button-batal {
        background: $gray-theme;
        color: #fff;
        border-radius: 25px;
        min-height: 42px;
    }
    .item-input {
        padding: 6px 0 5px 0px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #444;
        margin-bottom: 40px;
        input::placeholder {
            color: #444;
        }
        i {
            color: #444;
            margin-right: 10px;
        }
    }
    .forgot-text {
        color: $pink-theme;
        text-align: center;
        
    }
    .signup-text {
        text-align: center;
       
    }
}

// .outside-box{
//     background: $gray-theme;
// }
.hasil-box {
    display: flex;
    padding: 1%;
    width: 80%;
    min-height: 30%;
    border: 1px solid $purple-theme;
    // background: $purple-theme;
}

.hasil-title {
    font-weight: bold;
    // background: $purple-theme;
}