.account-form-wrapper {
    width: 80%;
    max-width: 80%;
    .button-account {
        background: $purple-theme;
        color: #fff;
        border-radius: 25px;
        min-height: 42px;
    }
    .button-batal {
        background: $gray-theme;
        color: #fff;
        border-radius: 25px;
        min-height: 42px;
    }
    .item-input {
        padding: 6px 0 5px 0px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #444;
        margin-bottom: 40px;
        input::placeholder {
            color: #444;
        }
        i {
            color: #444;
            margin-right: 10px;
        }
    }
    .forgot-text {
        color: $pink-theme;
        text-align: center;
    }
    .signup-text {
        text-align: center;
    }

}

.perhatian {
    text-align: justify;
}
//Inside Modal
.semak-modal-bg {
    background-image: url('../assets/images/symphony.png') !important;
    background-repeat: repeat-y repeat-x;
}

.md-card-content {
    text-align: justify;
    input {
         padding: 6px 0 5px 0px;
        background: transparent;
        border: none;
        border-bottom: 1px solid #444;
        margin-bottom: 40px;
        input::placeholder {
            color: #444;
        }
        i {
            color: #444;
            margin-right: 10px;
        }
    }
    
    .card-input {
        width:100%;
        margin-bottom: auto;
    }

    .correct {
        color: green;
    }

    .format {
        color: $purple-theme;
    }
    
}
