<ion-view view-title="RESOURCES">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content layout="column" overflow-scroll="true">
       
        <p>
            <button ng-click="ctrl.createInvoice()" class="button icon-left ion-play button-assertive">Create Invoice</button>
        </p>
        <div class="button-bar bar-balanced">
            <a class="button" ng-click="ctrl.runReport()">Generate</a>
            <a class="button button-assertive" ng-click="ctrl.clearReport()">Clear</a>
        </div>
         <iframe id='pdfImage' src="modules/home/home.resources/views/empty.html"
            style="height:1100px;width:100%;border:navy solid thin;"></iframe>    
    </ion-content>
</ion-view>
