.img-responsive {
	width:100%;
	max-width:100%;
	height:auto;
}

.dark {
	background-color:#000 !important;
}

.padding.extra {
	padding-left:40px;
	padding-right:40px;
}

.text-center {
	text-align:center !important;
}

.w-5 {
	width:5px !important;
}

.color-theme-1 {
	color: #69358A;
}

.color-theme-2 {
	color: #9B9A9A;
}

.color-theme-3 {
	color: #EC407A;
}

.color-theme-4 {
	color: #EFC100;
}

.color-theme-5 {
	color: #794F1c;
}

.color-theme-6 {
	color: #A48352;
}

.color-theme-7 {
	color: #266EBF;
}

