<ion-view view-title="SEMAKAN">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content layout="column" overflow-scroll="true">
        <div layout="column" layout-align="top center">
            <section class="account-form-wrapper">
                <h4 class="login-text">Sila Masukkan Angka Giliran UPSR 2015 dan Klik Butang Semakan</h4>
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="Masuk angka giliran..." ng-model="ctrl.agiliran"><!-- ng-keyup="ctrl.semak()" -->
                    </label>
                    {{ctrl.noData}}
                    <button class="button button-full button-account" ng-click="ctrl.openModal()">
                        Semakan 
                    </button>
                    <button class="button button-full button-batal" ng-click="ctrl.hapus()">
                        Batal
                    </button>
                    
                </div>
            </section>
        </div>

        
        <md-card layout-align="bottom center">
            
            
            <md-card-content class="perhatian">
                <p>Pastikan maklumat ANGKA GILIRAN calon sama seperti yang tercatat dalam slip pendaftaran UPSR calon Sekiranya terdapat sebarang masalah, sila hubungi 03-83217400 untuk keterangan lanjut
                </p>
            </md-card-content>
        </md-card>
    </ion-content>
</ion-view>
