<ion-view view-title="SEMAKAN">
    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content layout="column" overflow-scroll="true">
        <div layout="column" layout-align="top center" >
            
            <section class="account-form-wrapper">

                <h4 class="login-text">Sila Masukkan Angka Giliran UPSR 2015 dan Klik Butang Semakan</h4>
                <div class="list">
                    
                    <label class="item item-input">
                        <input type="text" placeholder="Masuk angka giliran...">
                    </label>
                    
                    <button class="button button-full button-account">
                        Semakan
                    </button>
                     <button class="button button-full button-batal">
                        Batal
                    </button>
                    <p class="forgot-text">Semak rayuan</p>
                   

                </div>
            </section>
        </div>
        <div layout="column" class="outside-box" layout-fill layout-align="bottom center">
            <section class="hasil-box">
                <p class="hasil-title">Hasil</p>
            </section>
        </div>
    </ion-content>
</ion-view>
