<ion-modal-view class="semak-modal-bg">
    <ion-header-bar class="bar bar-header bar-transparent" align-title="center">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="ctrl.closeSemak()">
            &nbsp;Back
        </button>
        <h1 class="title">HASIL SEMAKAN</h1>
    </ion-header-bar>
    <ion-content>
        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-show="ctrl.calon.type == 'rayuan'">
                <md-card-image><img ng-src="core/assets/images/tahniah.jpeg" alt="Tahniah"></md-card-image>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">TAHNIAH!</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="md-card-content">
                    <p>Anda ditawarkan ke tingkatan satu (1) Sekolah Berasrama Penuh tahun 2016 Kementerian Pendidikan Malaysia
                        <ul>
                            <li>
                                <b>Angka Giliran:</b> {{ctrl.calon.agiliran}}
                            </li>
                            <li>
                                <b>Nama Calon:</b> {{ctrl.calon.NAMA}}
                            </li>
                            <li>
                                <b>Sekolah Asal:</b> {{ctrl.calon.KODSEK}}
                            </li>
                        </ul>
                    </p>
                    <p>Untuk Maklumat Penempatan Sila Masukkan No. MyKad Murid / Bapa / Ibu / Penjaga :</p>
                  <input class="card-input" ng-keyup="ctrl.getSbp()" type="text" ng-model="ctrl.calon.kpPenjaga" placeholder="No. MyKad Murid / Bapa / Ibu / Penjaga">
                  <p class="correct" ng-show="ctrl.correctIC()">Sila tekan hantar</p>
                   <p class="format" ng-show="ctrl.formatIC()">Format MyKad: 660510145059</p>
                </md-card-content>

                <md-card-actions class="actions" layout="row" layout-align="end center">
                
                 
                    <md-button ng-click="ctrl.hantar()">Hantar</md-button>
                </md-card-actions>
            </md-card>
            
            <!-- Kalau berjaya 1st batch -->
            <md-card ng-show="ctrl.calon.type == 'pertama'">
                <md-card-image><img ng-src="core/assets/images/tahniah.jpeg" alt="Tahniah"></md-card-image>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">TAHNIAH!</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="md-card-content">
                    <p>Anda telah berjaya mendapat tawaran ke Sekolah Berasrama Penuh 2016 Ambilan Pertama. 
Terima Kasih.
                    </p>
                    <ul>
                            <li>
                                <b>Angka Giliran:</b> {{ctrl.calon.agiliran}}
                            </li>
                            <li>
                                <b>Nama Calon:</b> {{ctrl.calon.NAMAC}}
                            </li>
                            <li>
                                <b>Sekolah Asal:</b> {{ctrl.calon.KODSEK}}
                            </li>
                        </ul>
                    
                <md-card-actions class="actions" layout="row" layout-align="end center">
                
                 
                    <md-button ng-click="ctrl.kembali()">Kembali</md-button>
                </md-card-actions>
            </md-card>


            <!-- Kalau gagal -->
            <md-card ng-show="ctrl.calon.status == 'not found'">
                
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">MAKLUMAN</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="md-card-content">
                    <p>Dimaklumkan anda tidak berjaya ditawarkan
ke Tingkatan 1 Sekolah Berasrama Penuh Tahun 2016. 
Terima Kasih.
                    </p>
                     <ul>
                            <li>
                                <b>Angka Giliran:</b> {{ctrl.agiliran}}
                            </li>
                            
                        </ul>
                    
                <md-card-actions class="actions" layout="row" layout-align="end center">
                
                 
                    <md-button ng-click="ctrl.kembali()">Kembali</md-button>
                </md-card-actions>
            </md-card>



            
        </div>
    </ion-content>
</ion-modal-view>
