    <ion-modal-view class="semak-modal-bg">
    <ion-header-bar class="bar bar-header bar-transparent" align-title="center">
        <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="ctrl.closeSemak()">
            &nbsp;Back
        </button>
        <h1 class="title">HASIL SEMAKAN</h1>
    </ion-header-bar>
    <ion-content>

        <div flex-xs flex-gt-xs="50" layout="column">
            <md-card ng-show="ctrl.peribadi.KODSBP == ''">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">HARAP MAAF</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content class="md-card-content">
                    <p>DIMAKLUMKAN ANDA TIDAK DITAWARKAN KE TINGKATAN 4 SEKOLAH BERASRAMA PENUH 2016.
                    </p>
                    <ul>
                    <li>
                            <b>NAMA:</b> {{ctrl.peribadi.NAMA}}
                        </li>
                        <li>
                            <b>ANGKA GILIRAN:</b> {{ctrl.peribadi.AGILIRAN}}
                        </li>
                        <li>
                            <b>NO. MYKAD:</b> {{ctrl.peribadi.NOKP}}
                        </li>
                    </ul>
                    <md-card-actions class="actions" layout="row" layout-align="end center">
                        <md-button class="md-raised md-primary" ng-click="ctrl.kembali()">Kembali</md-button>
                    </md-card-actions>
            </md-card>
            <md-card ng-show="ctrl.peribadi.status === 'success'">
                <md-card-image><img ng-src="core/assets/images/tahniah.jpeg" alt="Tahniah"></md-card-image>               
                <md-card-content class="md-card-content">
                    <p class="top-content">
                        <ul>
                            <li>
                                <b>ANGKA GILIRAN:</b> {{ctrl.peribadi.AGILIRAN}}
                            </li>
                            <li>
                                <b>NO MYKAD:</b> {{ctrl.peribadi.NOKP}}
                            </li>
                            <li>
                                <b>NAMA:</b> {{ctrl.peribadi.NAMA}}
                            </li>
                            <li></li>
                            <li>
                                <b>SEKOLAH ASAL:</b> {{ctrl.peribadi.NAMA_SEK}}
                            </li>
                            <li>
                                <b>NAMA SBP DITAWARKAN:</b> {{ctrl.peribadi.NAMA_SBP}}
                            </li>
                            <li>
                                <b>ALIRAN:</b> {{ctrl.peribadi.KET_ALIRAN}}
                            </li>
                            <li>
                                <b>ALAMAT:</b> {{ctrl.peribadi.ALAMAT1}}&nbsp;{{ctrl.peribadi.ALAMAT2}}
                            </li>
                            <li>
                                <b>POSKOD:</b> {{ctrl.peribadi.POSKOD}}
                            </li>
                            <li>
                                <b>BANDAR, NEGERI:</b>
                            </li>
                            <li>
                                <b>NO. TELEFON:</b> {{ctrl.peribadi.NOTEL}}
                            </li>
                        </ul>
                    </p>
                    <p><b>ADAKAH ANDA BERSETUJU DENGAN PENAWARAN INI?</b></p>
                    
                
                <md-card-actions class="actions" layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="ctrl.hantar()">Setuju</md-button>
                    <md-button class="md-raised md-warn" ng-click="ctrl.showConfirm()">Tidak Setuju</md-button>
                </md-card-actions>
                </md-card-content>
            </md-card>
        </div>
    </ion-content>
</ion-modal-view>
